/* Dashboard text color adjustments to ensure readability */
.dashboard-page,
.dashboard-page .page-title,
.dashboard-page .lead,
.dashboard-page .nav-link {
	color: #e5e4e4
}

.page-title {
	font-size: 75px;
	margin-bottom: 1rem;
	position: relative;
	bottom: 20px;
}

.lead {
	font-size: 18px;
	margin-bottom: 10px;
	position: relative;
	bottom: 10px;
	left: 20px;
	width: 400px;
}

.nav-link {
	font-size: 20px;
	display: flex;
}

.nav-link:hover {
	color: #ada8a8;
}

.dashboard-nav .nav-list {
	list-style: none;
	padding: 0;
}

.dashboard-nav .nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
	position: relative;
	left: 90px;
}
