.nav-bar {
   background-color: transparent;
   padding: 1rem 10rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
 }
 
 .nav-links a {
   color: #be9a9a;
   margin-right: 1rem;
   text-decoration: none;
   font-size: 17px;
 }