.nav-bar {
   background-color: transparent;
   padding: 1rem 2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
 }
 
 .nav-links a {
   color: white;
   margin-right: 1rem;
   text-decoration: none;
 }
 
 .nav-links a:hover {
   text-decoration: underline;
 }