.page-title {
    font-size: 75px;
    margin-bottom: 1rem;
    position: relative;
    bottom: 20px;
    width: 500px;
}

.form-label {
    font-size: 20px;
}

.textarea {
    width: 420px;
}

.form-row {
    margin-bottom: 1rem;
}

.create-btn {
    cursor: pointer;
    background-color: #4e8350;
    margin-right: 15px;
}